<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merelytech.ru</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="ellepse">
            <div class="ellepse-item"></div>
            <div class="ellepse-item"></div>
            <div class="ellepse-item"></div>
        </div>
        <p>Сайт находится в разработке</p>
        
        <h1><span>merelytech.ru</span> - сложные<br>задачи станут простыми</h1>
        <div class="reviews">
            <div class="reviews-item">
                <img src="./assets/image/photo1.png">
                <h3>Виктория Хижняк</h3>
                <h4>Благодарю вас за отлично выполненную работу, результат получился даже лучше, чем я могла представить, все очень круто.</h4>
            </div>
            <div class="reviews-item">
                <img src="./assets/image/photo2.png">
                <h3>Рома Кудинов</h3>
                <h4>В сжатые сроки отлично выполнили задачу , рекомендую!</h4>
            </div>
            <div class="reviews-item">
                <img src="./assets/image/photo3.png">
                <h3>Егор Царев</h3>
                <h4>Очень грамотные специалисты, спасибо. Советую. Выполняют быстро, качественно!</h4>
            </div>
        </div>


        <nav>
            <div class="nav-item"><img src="./assets/image/Vk.svg"></div>
            <div class="nav-item"><img src="./assets/image/Tg.svg"></div>
            <div class="nav-item"><img src="./assets/image/Bh.svg"></div>
        </nav>
        <h6>Сделать заказ</h6>
    </div>
    
    <script src="./assets/js/script.js"></script>
</body>
</html>